name: gitlab
services:
  gitlab:
    container_name: gitlab
    image: gitlab/gitlab-ce:16.11.10-ce.0
    env_file: .env
    hostname: ${HOSTNAME}
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        # Add any other gitlab.rb configuration here, each on its own line
        # External url. HTTP -> 80. HTTPS -> 433
        external_url 'https://${HOSTNAME}'
        # Container registry
        gitlab_rails['registry_enabled'] = true
        # External url. HTTP -> 80. HTTPS -> 433
        registry_external_url 'https://${REGISTRY_HOSTNAME}'
        # SMTP
        gitlab_rails['smtp_enable'] = true
        gitlab_rails['smtp_address'] = "${SMTP_SERVER}"
        gitlab_rails['smtp_port'] = ${SMTP_PORT}
        gitlab_rails['smtp_user_name'] = "${SMTP_USER}"
        gitlab_rails['smtp_password'] = "${SMTP_PASSWORD}"
        gitlab_rails['smtp_authentication'] = "login"
        gitlab_rails['smtp_enable_starttls_auto'] = true
        gitlab_rails['smtp_openssl_verify_mode'] = 'peer'
        gitlab_rails['gitlab_email_from'] = '${SMTP_DEFAULT_FROM_EMAIL}'
        gitlab_rails['gitlab_email_reply_to'] = '${SMTP_DEFAULT_FROM_EMAIL}'
    restart: always
    ports:
      #- ${APP_PORT}:80
      - ${APP_PORT}:443
    volumes:
      - ./config:/etc/gitlab
      - ./logs:/var/log/gitlab
      - ./data:/var/opt/gitlab
      - ./certs/registry.desarrollosur.com.ar.crt:/etc/gitlab/ssl/registry.desarrollosur.com.ar.crt
      - ./certs/registry.desarrollosur.com.ar.key:/etc/gitlab/ssl/registry.desarrollosur.com.ar.key
    extra_hosts:
      - host.docker.internal:host-gateway
